section.about 
  .about__container 
    .about__title 
      p A little about me
    .about__subtitle
      p Thanks for stopping by. For the past 6 years, I’ve excelled in customer success teams at some of Australia’s top hotels. Recently, I joined the customer success team at Square, where I'm proud to be part of a team building a more inclusive economy for small businesses in Australia.
      p I have an unwavering passion and energy for people, which has proven a valuable asset in my career. I believe the best customer experiences come from genuine empathy, while always maintaining a friendly, positive and energetic character.
    .about__sign 
      +image("sign.png")
