section.footer 
  .footer__container 
    .footer__top 
      a.footer__logo(href="#") 
        +image("logo.svg")
        span Indi Harris
      a.footer__social-link.social-link(href="#")
        span LinkedIn
        +image("arrow.svg")
    .footer__btm 
      span © Indi Harris 2077
