header.header 
  .header__container 
    a.header__logo(href="#") 
      include ../../assets/images/logo.svg
      span Indi Harris
    a.header__social-link.social-link(href="#")
      span LinkedIn
      include ../../assets/images/arrow.svg
