section.hero 
  .hero__container 
    .hero__descr 
      .hero__location 
        +image("map-marker.svg")
        span Melbourne, Australia
      .hero__title 
        span Hello,
        span I'm Jini Harris
      .hero__subtitle 
        span I’m a Performance Support Specialist based in sunny Melbourne, Australia. I have unwavering passion and energy for people and customer experience.
      a.hero__social-link.social-link(href="#")
        span LinkedIn
        +image("arrow.svg")
    .hero__images 
      +image("light-accent.png").hero__rainbow
      .hero__img
        +image("title-photo.png")

